body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

button {
    background: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: black;
}
