<!DOCTYPE html>
<html>
<head>
    <title>All Customers</title>
</head>
<body>
    <a href="{% url 'add_book' %}">Back to page</a>
    <h1>All Customers (Sorted by Name)</h1>

    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} — {{ customer.email }}</li>
        {% empty %}
            <li>No customers found.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'filtered_customers' %}">Show Only @example.com Customers</a>
    <br><br>
    <a href="{% url 'add_customer' %}">Add New Customer</a>

</body>
</html>
